nav>ul>li {
    color: yellow;
    list-style: none;
    background-color: yellow;
}


main {
    background-color: grey;
    color: white;
}


body {
    background-color: black;
    color: white;
}

aside {
    background-color: white;
    color: black;
}